.tooltip 
{
	width: 20%;
	padding: 5px;
	background-color: white;
	border: 3px solid rgb(195,151,51);
	border-radius : 5px;
    display: none;
}
.trigger
{
    color:darkgreen;
    font-weight: bold;
}
body > p
{
	width: 50%;
}